/* Your styles here */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
body {
  color: #393d41;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.2rem;
  line-height: 1.65rem;
  text-align: center;
  background-color: #e0e0e0d0;
}

h1 {
  font-weight: 700;
  -webkit-text-stroke: 3px black;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 1rem 1rem 0;
  font-size: 5em;
  line-height: 2.5rem;
  margin: 0;
}
li {
  list-style-type: none;
  border-bottom: solid 2px;
  border-color: #d1d1d1d0;
  font-size: 4rem;
  margin: 1rem;
}

button {
  background-color: #f04c2f;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.6rem 0.9em;
  margin: 0.5rem;
  border: 0;
  margin-left: 3rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgb(169, 169, 169);
}

header {
  padding: 1.5rem;
}

#checkBox {
  margin: 2rem 4rem;
  background-color: #effa87d0;
  min-height: 450px;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(169, 169, 169);
}

input[type="text"] {
  border: 0;
  background-color: #effa87d0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 2.5rem;
  line-height: 1.65rem;
  text-align: center;
}

input[type="text"]:focus {
  outline: none;
  color: #393d41;
}
input[type="text"]:hover {
  background-color: #dde87bd0;
}

.barrato {
  text-decoration: line-through;
}
